<h1 role="toolbar" class="dialog-header">
	<svg role="img" class="icon">
		<title>Mug icon</title>
		<use xlink:href="images/icons/mug.svg#icon" href="images/icons/mug.svg#icon"></use>
	</svg>
	Support PaintZ
</h1>
<p>I'm glad PaintZ has been useful to you!  PaintZ is free, and it always will be, but a little support really helps.</p>
<div class="dialog-footer">
	<button type="button" class="closeButton" style="float: left;">No thanks</button><!--
	--><button type="button" class="postponeButton">Later</button><!--
	--><a role="button" href="https://ko-fi.com/ZMYaro" target="_blank" class="submitLink" id="coffeeLink">Buy me a cuppa</a>
</div>
