<h1 role="toolbar" class="dialog-header">
	<button type="button" class="closeButton">
		<svg role="img">
			<title>Close</title>
			<use xlink:href="images/icons/clear.svg#icon" href="images/icons/clear.svg#icon"></use>
		</svg>
	</button>
	Welcome to PaintZ!
</h1>
<img src="images/toolbar_overview.png" alt="screenshot of the PaintZ toolbar with the drawing tools, tool settings, color pallette, and help icon highlighted." style="display: block; width: 100%;" />
<p>
	Select the brush tool
	<svg role="img" class="helpIcon welcomeIcon">
		<title>brush icon</title>
		<use xlink:href="images/icons/brush.svg#icon" href="images/icons/brush.svg#icon"></use>
	</svg>
	and start painting!
</p>
<p>
	Use the drawing tool buttons to switch drawing tools and the color palette to switch colors.
</p>
<p>
	Click the
	<svg role="img" class="helpIcon welcomeIcon">
		<title>help icon</title>
		<use xlink:href="images/icons/help.svg#icon" href="images/icons/help.svg#icon"></use>
	</svg>
	button to learn more about different drawing tools.
</p>
<p style="font-size: 70%;">
	PaintZ uses Google Analytics to track visits, but it does not store any personal information.
</p>
<div class="dialog-footer">
	<button type="submit">Get started</button>
</div>
