#dialogs {
	display: none;

	z-index: 4;

	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	
	overflow: auto;

	padding-top: 64px;

	-webkit-transition-duration: 0.2s;
	   -moz-transition-duration: 0.2s;
	    -ms-transition-duration: 0.2s;
	     -o-transition-duration: 0.2s;
	        transition-duration: 0.2s;
	-webkit-transition-property: background-color;
	   -moz-transition-property: background-color;
	    -ms-transition-property: background-color;
	     -o-transition-property: background-color;
	        transition-property: background-color;
}
.dialog {
	margin: 0 auto 16px;
	max-width: 96%;
	overflow: visible;
	
	opacity: 0;
	-webkit-transform: scale(0);
	   -moz-transform: scale(0);
	    -ms-transform: scale(0);
	     -o-transform: scale(0);
	        transform: scale(0);
	-webkit-transform-origin: 50% 10%;
	   -moz-transform-origin: 50% 10%;
	    -ms-transform-origin: 50% 10%;
	     -o-transform-origin: 50% 10%;
	        transform-origin: 50% 10%;

	-webkit-transition-duration: 0.15s;
	   -moz-transition-duration: 0.15s;
	    -ms-transition-duration: 0.15s;
	     -o-transition-duration: 0.15s;
	        transition-duration: 0.15s;
	-webkit-transition-property: opacity, -webkit-transform, transform;
	   -moz-transition-property: opacity, -moz-transform, transform;
	    -ms-transition-property: opacity, -ms-transform, transform;
	     -o-transition-property: opacity, -o-transform, transform;
	        transition-property: opacity, transform;
}
	.dialog.open {
		opacity: 1;
		-webkit-transform: scale(1);
		   -moz-transform: scale(1);
		    -ms-transform: scale(1);
		     -o-transform: scale(1);
		        transform: scale(1);
	}
	.dialog h1 {
		margin-top: 0;
		font-weight: 300;
	}
	.dialog button[type="submit"],
	#downloadLink {
		background-color: #3f51b5;
		color: white;
	}
		.dialog button[type="submit"]:hover,
		.dialog button[type="submit"]:focus,
		#downloadLink:hover,
		#downloadLink:focus {
			background-color: #4b5cb9;
		}
		.dialog button[type="submit"]:active,
		#downloadLink:active {
			background-color: #5767bd;
		}
	.dialog#settingsDialog select:not([size]),
	.dialog#settingsDialog select[size="1"] {
		display: block;
		width: 100%;
		width: calc(100% + 32px);
		margin: -16px;
		padding-top: 16px;
		padding-bottom: 16px;
		text-align: right;
		text-align-last: right;
		-webkit-border-radius: 0;
		   -moz-border-radius: 0;
		        border-radius: 0;
	}
		.dialog#settingsDialog select:not([size]) + label,
		.dialog#settingsDialog select[size="1"] + label {
			/* Move it up to align with the <select>'s text. */
			display: block;
			margin-top: -35px;
			/* Keep it on top of the <select> so it does not get covered by its background color. */
			position: relative;
			pointer-events: none;
		}
	
	.dialog .dialog-header,
	.dialog .dialog-footer {
		position: sticky;
	}
		.dialog .dialog-header {
			top: -64px;
			margin: -16px;
			padding: 16px;
			margin-bottom: 4px;
			padding-bottom: 8px;
			
			-webkit-border-top-left-radius:  2px;
			-webkit-border-top-right-radius: 2px;
			   -moz-border-radius-topleft:   2px;
			   -moz-border-radius-topright:  2px;
			        border-top-left-radius:  2px;
			        border-top-right-radius: 2px;
			
			font-weight: 500;
		}
			.dialog .dialog-header .closeButton {
				float: right;
				margin-right: -8px;
			}
		.dialog .dialog-footer {
			bottom: 0;
			text-align: right;
			margin: -16px;
			padding: 12px;
			margin-top: -4px;
			padding-top: 8px;
			
			-webkit-border-bottom-left-radius:  2px;
			-webkit-border-bottom-right-radius: 2px;
			   -moz-border-radius-bottomleft:   2px;
			   -moz-border-radius-bottomright:  2px;
			        border-bottom-left-radius:  2px;
			        border-bottom-right-radius: 2px;
		}
	
	.dialog .list {
		margin: 0 -16px;
	}
		.dialog .list li {
			border-style: none;
		}
			.dialog .list li [role="button"]:not(:first-child) {
				margin-left: 0;
			}
			.dialog .list li [role="button"]:not(:last-child) {
				margin-right: 0;
			}
			.dialog .list li svg {
				width: 24px;
				height: 24px;
			}
				.dialog .list li svg:first-child {
					box-sizing: content-box;
					vertical-align: bottom;
					margin: -16px 0 -8px;
					padding: 14px 8px 14px 0;
					float: left;
				}
			
			.dialog .list li .social-links {
				display: inline-block;
			}
				.dialog .list li .social-links [role="button"] {
					margin-left: -2px;
					margin-right: -2px;
					padding: 8px 6px;
					-webkit-border-radius: 24px;
					   -moz-border-radius: 24px;
					        border-radius: 24px;
				}
					.dialog .list li .social-links [role="button"] svg {
						padding: 0;
						margin: 2px 4px;
					}

input[type="checkbox"] {
	margin: 0px 2px;
}
input[type="radio"] {
	margin: -4px 4px;
}
input[type=range]::-ms-tooltip {
	display: none;
}

hr {
	height: 0;
	margin: 0;
}

#helpDialog table {
	text-align: left;
}
.dialog .helpIcon {
	box-sizing: content-box;
	
	width: 24px;
	height: 24px;
	
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	
	padding: 8px;
	margin-right: 8px;
	margin-top: 2px;
}
.dialog .welcomeIcon {
	vertical-align: top;
	padding: 4px;
	margin: -8px 2px;
}

progress.circular {
	border-top-color: #3f51b5;/*5767bd;*/
}
