@charset "UTF-8";

* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
	overscroll-behavior-y: contain; /* Prevent pull-to-refresh. */
	
	position: absolute; /* Stretch to contain canvasas wider than the window */
	padding: 16px;
	padding-top: 128px; /* 16px padding + 112px toolbar */
	padding-bottom: 48px; /* 16px padding + 32px bottom bar */
}

#canvasPositioner {
	position: relative;
}

.canvas,
.floatingRegion,
.floatingToolbar {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
}

	.canvas {
		-ms-interpolation-mode: nearest-neighbor;
		image-rendering: -webkit-optimize-contrast;
		image-rendering: pixelated;
		image-rendering: -moz-crisp-edges;
		image-rendering:   -o-crisp-edges;
		image-rendering:      crisp-edges;
		
		-webkit-transform-origin: 0 0;
		   -moz-transform-origin: 0 0;
		    -ms-transform-origin: 0 0;
		     -o-transform-origin: 0 0;
		        transform-origin: 0 0;
		
		-webkit-transition: top 0.2s linear;
		   -moz-transition: top 0.2s linear;
		    -ms-transition: top 0.2s linear;
		     -o-transition: top 0.2s linear;
		        transition: top 0.2s linear;
	}
	#canvas {
		z-index: 1;
	}
	#preCanvas,
	#gridCanvas {
		z-index: 2;
		touch-action: none;
	}
		#preCanvas:focus {
			outline: none;
		}
		#preCanvas.ghost {
			opacity: 0.6;
		}
	#gridCanvas {
		pointer-events: none;
	}
	
	.floatingRegion,
	.floatingRegion:focus {
		border: 1px solid white;
		outline: 1px dashed black;
		outline-offset: -1px;
		overflow: hidden;
		resize: none;
		pointer-events: none;
		z-index: 2;
	}

.floatingToolbar {
	padding: 0;
	z-index: 3;
}
	.floatingToolbar button {
		margin: 0;
		-webkit-border-radius: 2px;
		   -moz-border-radius: 2px;
		        border-radius: 2px;
	}
	.floatingToolbar [role="img"] {
		width: 24px;
		height: 24px;
	}

#cursorCanvas,
#pacManStartSound {
	display: none;
}

#canvas:-webkit-full-screen {
	position: static;
	margin: 0 auto;
	-webkit-transform: scale(1) !important;
	        transform: scale(1) !important;
}
#canvas:-moz-full-screen {
	position: static;
	margin: 0 auto;
	-moz-transform: scale(1) !important;
	     transform: scale(1) !important;
}
#canvas:-ms-fullscreen {
	margin: 0 auto;
	position: static;
	-ms-transform: scale(1) !important;
	    transform: scale(1) !important;
}
#canvas:fullscreen {
	position: static;
	margin: 0 auto;
	transform: scale(1) !important;
}

@media (max-width: 600px) {
	body {
		padding-top: 120px; /* 16px padding + 104px toolbar */
	}
}
