body {
	padding: 0;
	background-color: transparent;
}
#canvas {
	position: static;
	margin: 0;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
	/* Override inline style from zoom. */
	-webkit-transform: none !important;
	   -moz-transform: none !important;
	    -ms-transform: none !important;
	     -o-transform: none !important;
	        transform: none !important;
}
#toolbar,
#preCanvas,
#gridCanvas,
#bottomBar,
#dialogsContainer,
#bottomSheetsContainer,
#progressContainer {
	display: none;
}
