.icon {
	display: inline-block;
	pointer-events: none;
	z-index: -1;
}

#toolbar,
#bottomBar {
	overflow: hidden;
}

#toolbar {
	padding: 0;
	white-space: nowrap;
	overflow-x: auto;
	
	-webkit-user-select: none;
	   -moz-user-select: none;
	        user-select: none;
}
	#toolbar .divider {
		display: inline-block;
		vertical-align: top;
		height: 76px;
		margin: 10px 4px;
		padding: 0;
		width: 1px;
	}
	#toolbar button,
	#toolbar [role="button"] {
		margin: 4px 2px;
		padding: 8px;
	}
		#toolbar button svg,
		#toolbar [role="button"] svg {
			margin-left: 0;
			margin-right: 0;
			
			-webkit-transition: fill 0.15s linear;
			   -moz-transition: fill 0.15s linear;
			    -ms-transition: fill 0.15s linear;
			     -o-transition: fill 0.15s linear;
			        transition: fill 0.15s linear;
		}
			#toolbar input[type="checkbox"] + label[role="button"],
			#toolbar input[type="radio"] + label[role="button"] {
				-webkit-box-shadow: inset 0 0 0 0;
				   -moz-box-shadow: inset 0 0 0 0;
				        box-shadow: inset 0 0 0 0;
				-webkit-transition: -webkit-box-shadow 0.15s linear;
				   -moz-transition:    -moz-box-shadow 0.15s linear;
				    -ms-transition:         box-shadow 0.15s linear;
				     -o-transition:         box-shadow 0.15s linear;
				        transition:         box-shadow 0.15s linear;
			}
				#toolbar input[type="checkbox"]:checked + label[role="button"],
				#toolbar input[type="radio"]:checked + label[role="button"] {
					-webkit-box-shadow: inset 0 0 0 22px;
					   -moz-box-shadow: inset 0 0 0 22px;
					        box-shadow: inset 0 0 0 22px;
				}
	#toolbar select#lineWidth,
	#toolbar select#fontFamilySelect,
	#toolbar select#fontSizeSelect {
		padding-left: 40px;
	}
		#toolbar select#lineWidth {
			margin-left: 16px;
		}
		#toolbar select#lineWidth + .icon,
		#toolbar select#fontFamilySelect + .icon,
		#toolbar select#fontSizeSelect + .icon {
			width: 24px;
			height: 24px;
			margin-bottom: -5px;
		}
		#toolbar select#lineWidth + .icon {
			margin-left: -100px;
		}
		#toolbar select#fontFamilySelect + .icon {
			margin-left: -182px;
			margin-right: 158px;
		}
		#toolbar select#fontSizeSelect + .icon {
			margin-left: -96px;
			margin-right: 66px;
		}

.toolbox {
	display: inline-block;
	vertical-align: top;
	margin: 0px;
}
	.toolbox input[type="checkbox"],
	.toolbox input[type="radio"] {
		display: none;
	}

#outlineOptions {
	margin: 0 2px;
}
	#outlineOptions input[type="radio"] + label {
		margin-left: 1px;
		margin-right: 1px;
	}

#bottomBar {
	top: auto;
	bottom: 0;
	height: 32px;
	padding: 0;
	font-size: inherit; /* Override .appBar larger font */
	
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 4px 17px 0, rgba(0, 0, 0, 0.19) 0 2px 20px 0;
	   -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 4px 17px 0, rgba(0, 0, 0, 0.19) 0 2px 20px 0;
	        box-shadow: rgba(0, 0, 0, 0.2) 0 4px 17px 0, rgba(0, 0, 0, 0.19) 0 2px 20px 0;
}
	#bottomBar button {
		width: 42px;
		height: 42px;
		padding: 8px 8px;
		margin: -4px 0;
	}
	#bottomBar button > img {
		width: 24px;
		height: 24px;
	}
#resolution {
	display: inline-block;
	margin: 6px;
}
#zoomContainer {
	float: right;
}
button#zoomOutBtn {
	margin-right: -6px;
}
button#zoomInBtn {
	margin-left: -6px;
	margin-right: -6px;
}
#zoomPercent {
	text-align: right;
	width: 3em;
	padding-right: 1em;
	padding-top: 5px;
	padding-bottom: 3px;
	-webkit-appearance: none;
			appearance: none;
}
	#zoomPercent::-webkit-inner-spin-button,
	#zoomPercent::-webkit-outer-spin-button {
		-webkit-appearance: none;
				appearance: none;
	}
	#zoomPercent + .icon {
		margin-left: -18px;
		margin-top: 1px;
	}
#zoomSlider {
	width: 128px;
	max-width: 80%;
	margin: 0 4px;
	position: relative;
	top: -2px;
}

@media (max-width: 600px) {
	#toolbar {
		padding: 0 2px;
	}
		#toolbar .divider {
			height: 68px;
		}
		#toolbar button,
		#toolbar [role="button"] {
			margin: 2px 0;
			margin-right: -1px;
		}
		#toolbar select#lineWidth {
			margin-top: 2px;
			margin-bottom: 2px;
		}
}
@media (max-width: 480px) {
	#resolution {
		display: none;
	}
}
