<svg role="img" class="icon" style="margin-left: 24px;">
	<use xlink:href="images/icons/line_weight.svg#icon" href="images/icons/line_weight.svg#icon"></use>
</svg><!--
--><select title="Line width ([/])" id="lineWidth">
	<option value="1">1</option>
	<option value="2">2</option>
	<option value="3">3</option>
	<option value="4">4</option>
	<option value="5">5</option>
	<option value="6">6</option>
	<option value="7">7</option>
	<option value="8">8</option>
	<option value="9">9</option>
	<option value="10">10</option>
	<option value="12">12</option>
	<option value="14">14</option>
	<option value="16">16</option>
	<option value="18">18</option>
	<option value="20">20</option>
	<option value="25">25</option>
	<option value="30">30</option>
	<option value="35">35</option>
	<option value="40">40</option>
	<option value="45">45</option>
	<option value="50">50</option>
</select><!--
--><br /><!--
--><form id="outlineOptions"><!--
	--><input type="radio" name="outlineOption" value="outlineOnly" id="outlineOnly" /><!--
	--><label role="button" for="outlineOnly" title="Outline only">
		<svg role="img">
			<use xlink:href="images/icons/outline_only.svg#icon" href="images/icons/outline_only.svg#icon"></use>
		</svg>
	</label><!--
	--><input type="radio" name="outlineOption" value="fillOnly" id="fillOnly" /><!--
	--><label role="button" for="fillOnly" title="Fill only">
		<svg role="img">
			<use xlink:href="images/icons/fill_only.svg#icon" href="images/icons/fill_only.svg#icon"></use>
		</svg>
	</label><!--
	--><input type="radio" name="outlineOption" value="outlineFill" id="outlineFill" /><!--
	--><label role="button" for="outlineFill" title="Outline and fill">
		<svg role="img">
			<use xlink:href="images/icons/outline_fill.svg#icon" href="images/icons/outline_fill.svg#icon"></use>
		</svg>
	</label><!--
--></form>
