<button id="deleteBtn" title="Delete (Del)">
	<svg role="img">
		<use href="images/icons/delete.svg#icon"></use>
	</svg>
</button><!--
<button id="cutBtn" title="Cut (Ctrl+X)" disabled="disabled">
	<svg role="img">
		<use href="images/icons/cut.svg#icon"></use>
	</svg>
</button>
<button id="copyBtn" title="Copy (Ctrl+C)" disabled="disabled">
	<svg role="img">
		<use href="images/icons/copy.svg#icon"></use>
	</svg>
</button><!--
--><button id="duplicateBtn" title="Duplicate (Ctrl+D)">
	<svg role="img">
		<use href="images/icons/duplicate.svg#icon"></use>
	</svg>
</button><!--
--><button id="cropBtn" title="Crop">
	<svg role="img">
		<use href="images/icons/crop.svg#icon"></use>
	</svg>
</button>
