<h1 role="toolbar" class="dialog-header">
	<button type="button" class="closeButton">
		<svg role="img">
			<title>Close</title>
			<use xlink:href="images/icons/clear.svg#icon" href="images/icons/clear.svg#icon"></use>
		</svg>
	</button>
	About PaintZ
	<small style="display: block;">Version 3.1.1</small>
</h1>
<p style="margin-top: 0.5em;">
	PaintZ was developed by <a href="http://zmyaro.com" target="_blank">Zachary Yaro</a>.
</p>
<p class="small">
	PaintZ uses:
	<a href="https://developer.mozilla.org/en-US/docs/Web/API/HTMLCanvasElement/toBlob#Polyfill" target="_blank">Canvas toBlob Polyfill</a>
	&middot;
	<a href="http://members.chello.at/easyfilter/canvas.html" target="_blank">easy.Filter</a>
	&middot;
	<a href="https://github.com/stefanpenner/es6-promise" target="_blank">ES6 Promise</a>
	&middot;
	<a href="http://www.daviddurman.com/flexi-color-picker" target="_blank">Flexi Color Picker</a>
	&middot;
	<a href="https://material.io" target="_blank">Material Design</a>
	&middot;
	<a href="https://materialdesignicons.com/" target="_blank">Material Design Icons</a>
	&middot;
	<a href="https://materialz.zmyaro.com" target="_blank">MaterialZ</a>
	&middot;
	<a href="https://github.com/jquery/PEP" target="_blank">Pointer Events Polyfill</a>
</p>
<p class="small">
	PaintZ also uses Google Analytics; for details, see <a href="/privacy" target="_blank">Privacy</a>.
</p>
<p class="small">
	Pac-Man is owned by Bandai Namco Entertainment Inc.
</p>
<hr />
<ul class="list">
	<li style="display: none;">
		<a href="https://chrome.google.com/webstore/detail/paintz/gdjcnhanmagpjdpilaehedkchegnkdoj" target="_blank" id="cwsInstallLink" role="button">
			<svg role="img">
				<use xlink:href="images/icons/cws.svg#icon" href="images/icons/cws.svg#icon"></use>
			</svg>
			Install PaintZ from the Chrome Web Store for quick access
		</a>
	</li>
	<li>
		<a href="https://chrome.google.com/webstore/detail/paintz/gdjcnhanmagpjdpilaehedkchegnkdoj/support" target="_blank" id="cwsFeedbackLink" role="button">
			<svg role="img">
				<use xlink:href="images/icons/cws.svg#icon" href="images/icons/cws.svg#icon"></use>
			</svg>
			Submit feedback on the Chrome Web Store
		</a>
	</li>
	<li>
		<a href="https://github.com/zmyaro/paintz/issues" target="_blank" role="button">
			<svg role="img">
				<use xlink:href="images/icons/github.svg#icon" href="images/icons/github.svg#icon"></use>
			</svg>
			Report a problem or request a feature on GitHub
		</a>
	</li>
	<li>
		<a href="https://ko-fi.com/ZMYaro" target="_blank" role="button">
			<svg role="img">
				<use xlink:href="images/icons/mug.svg#icon" href="images/icons/mug.svg#icon"></use>
			</svg>
			Buy me a coffee
		</a>
	</li>
</ul>
<hr />
<ul class="list">
	<li>
		Follow @PaintZApp on
		<span class="social-links">
			<a href="https://www.facebook.com/PaintZApp" target="_blank" role="button" style="display: inline-block;">
				<svg role="img">
					<title>Facebook</title>
					<use xlink:href="images/icons/fb.svg#icon" href="images/icons/fb.svg#icon"></use>
				</svg>
			</a><a href="https://www.instagram.com/PaintZApp" target="_blank" role="button" style="display: inline-block;">
				<svg role="img">
					<title>Instagram</title>
					<use xlink:href="images/icons/instagram.svg#icon" href="images/icons/instagram.svg#icon"></use>
				</svg>
			</a><a href="https://twitter.com/PaintZApp" target="_blank" role="button" style="display: inline-block;">
				<svg role="img">
					<title>Twitter</title>
					<use xlink:href="images/icons/twitter.svg#icon" href="images/icons/twitter.svg#icon"></use>
				</svg>
			</a>
		</span>
	</li>
</ul>
<div class="dialog-footer" style="padding-left: 16px;">
	<div style="float: left; padding-top: 12px;">
		<span style="opacity: 0.1;">Ctrl+Shift+</span><div style="display: inline-block; background-color: yellow; width: 16px; height: 16px; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; margin-bottom: -2px;"></div>
	</div>
	<button type="submit">Close</button>
</div>
