<h1 role="toolbar" class="dialog-header">
	<svg role="img" style="width: 32px; height: 32px; float: left;">
		<title>Mug icon.</title>
		<use xlink:href="images/icons/mug.svg#icon" href="images/icons/mug.svg#icon"></use>
	</svg>
	Support PaintZ
</h1>
<p>I am glad PaintZ has been useful to you!  This app is free, and it always will be, but support is appreciated.</p>
<div class="dialog-footer">
	<button type="button" class="closeButton" style="float: left;">No thanks</button><!--
	--><button type="button" id="coffeeLaterButton">Later</button><!--
	--><a role="button" href="https://ko-fi.com/ZMYaro" target="_blank" class="submitLink" id="coffeeLink">Buy me a cuppa</a>
</div>
