<h1 role="toolbar" class="dialog-header">
	<svg role="img" style="width: 32px; height: 32px; float: left;">
		<title>Install icon.</title>
		<use xlink:href="images/icons/add_to_home_screen.svg#icon" href="images/icons/add_to_home_screen.svg#icon"></use>
	</svg>
	Get to PaintZ faster
</h1>
<p>If you want, you can <span class="callToAction">add a shortcut</span> for easier access.</p>
<div class="dialog-footer">
	<button type="button" class="closeButton">No thanks</button><!--
	--><a role="button" href="https://www.easytechguides.com/website-shortcut.html" target="_blank" class="submitLink">Learn how</a>
</div>
