<h1 role="toolbar" class="dialog-header">
	<button type="button" class="closeButton">
		<svg role="img">
			<title>Close</title>
			<use xlink:href="images/icons/clear.svg#icon"></use>
		</svg>
	</button>
	Keyboard shortcuts
</h1>
<table style="width: 100%;">
	<tr>
		<th colspan="2">Document actions</th>
	</tr>
	<tr>
		<td><strong>Ctrl+O</strong></td>
		<td>Open image</td>
	</tr>
	<tr>
		<td><strong>Ctrl+S</strong></td>
		<td>Save as</td>
	</tr>
	<tr>
		<td><strong>Ctrl+Z</strong></td>
		<td>Undo</td>
	</tr>
	<tr>
		<td><strong>Ctrl+Y</strong></td>
		<td>Redo</td>
	</tr>
	<tr>
		<td><strong>Ctrl+Alt+=</strong></td>
		<td>Zoom in</td>
	</tr>
	<tr>
		<td><strong>Ctrl+Alt+-</strong></td>
		<td>Zoom out</td>
	</tr>
	<tr><td colspan="2">&nbsp;</td></tr>
	<tr>
		<th colspan="2">Tools</th>
	</tr>
	<tr>
		<td><strong>P</strong></td>
		<td>Pencil</td>
	</tr>
	<tr>
		<td><strong>B</strong></td>
		<td>Brush</td>
	</tr>
	<tr>
		<td><strong>L</strong></td>
		<td>Line</td>
	</tr>
	<tr>
		<td><strong>C</strong></td>
		<td>Curve</td>
	</tr>
	<tr>
		<td><strong>R</strong></td>
		<td>Rectangle</td>
	</tr>
	<tr>
		<td><strong>O</strong></td>
		<td>Oval</td>
	</tr>
	<tr>
		<td><strong>H</strong></td>
		<td>Pan (hand)</td>
	</tr>
	<tr>
		<td><strong>S</strong></td>
		<td>Selection</td>
	</tr>
	<tr>
		<td><strong>E</strong></td>
		<td>Eraser</td>
	</tr>
	<tr>
		<td><strong>F</strong></td>
		<td>Flood fill</td>
	</tr>
	<tr>
		<td><strong>I</strong></td>
		<td>Eyedropper (color picker)</td>
	</tr>
	<tr>
		<td><strong>T</strong></td>
		<td>Text</td>
	</tr>
	<tr><td colspan="2">&nbsp;</td></tr>
	<tr>
		<th colspan="2">Tool actions</th>
	</tr>
	<tr>
		<td><strong>[</strong></td>
		<td>Decrease line width</td>
	</tr>
	<tr>
		<td><strong>]</strong></td>
		<td>Increase line width</td>
	</tr>
	<tr>
		<td><strong>X</strong></td>
		<td>Switch line and fill colors</td>
	</tr>
	<tr>
		<td><strong>Ctrl+A</strong></td>
		<td>Select all</td>
	</tr>
	<tr>
		<td><strong>Ctrl+D</strong></td>
		<td>Duplicate selection</td>
	</tr>
	<tr><td colspan="2">&nbsp;</td></tr>
	<tr>
		<th colspan="2">App actions</th>
	</tr>
	<tr>
		<td><strong>F1</strong></td>
		<td>Open help</td>
	</tr>
	<tr>
		<td><strong>?</strong></td>
		<td>Open keyboard shortcut reference</td>
	</tr>
</table>
<div class="dialog-footer">
	<button type="submit">Close</button>
</div>
