<h1 role="toolbar" class="dialog-header">
	<button type="button" title="Close" class="closeButton">
		<svg role="img">
			<title>Close</title>
			<use xlink:href="images/icons/clear.svg#icon" href="images/icons/clear.svg#icon"></use>
		</svg>
	</button>
	Keyboard shortcuts
</h1>
<table style="width: 100%;">
	<tr>
		<th colspan="2">Document actions</th>
	</tr>
	<tr class="standaloneOnly">
		<td><kbd>Ctrl</kbd>+<kbd>N</kbd></td>
		<td>Clear drawing <small style="display: inline-block;">(standalone only)</small></td>
	</tr>
	<tr class="standaloneOnly">
		<td><kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>N</kbd></td>
		<td>Clear drawing immediately <small style="display: inline-block;">(standalone only)</small></td>
	</tr>
	<tr>
		<td><kbd>Ctrl</kbd>+<kbd>O</kbd></td>
		<td>Open image</td>
	</tr>
	<tr>
		<td><kbd>Ctrl</kbd>+<kbd>S</kbd></td>
		<td>Save as</td>
	</tr>
	<tr>
		<td><kbd>Ctrl</kbd>+<kbd>P</kbd></td>
		<td>Print</td>
	</tr>
	<tr>
		<td><kbd>Ctrl</kbd>+<kbd>Z</kbd></td>
		<td>Undo</td>
	</tr>
	<tr>
		<td><kbd>Ctrl</kbd>+<kbd>Y</kbd></td>
		<td>Redo</td>
	</tr>
	<tr>
		<td><kbd>Ctrl</kbd>+<kbd>E</kbd></td>
		<td>Crop or scale canvas</td>
	</tr>
	<tr>
		<td><kbd>Ctrl</kbd>+<kbd>V</kbd></td>
		<td>Paste</td>
	</tr>
	<tr>
		<td><kbd>Ctrl</kbd>+<kbd>Alt</kbd>+<kbd>V</kbd></td>
		<td>Paste from file</td>
	</tr>
	<tr>
		<td><kbd>Ctrl</kbd>+<kbd>Alt</kbd>+<kbd>=</kbd></td>
		<!-- Also Ctrl+PgUp in standalone -->
		<td>Zoom in</td>
	</tr>
	<tr>
		<td><kbd>Ctrl</kbd>+<kbd>Alt</kbd>+<kbd>-</kbd></td>
		<!-- Also Ctrl+PgDn in standalone -->
		<td>Zoom out</td>
	</tr>
	<tr>
		<td><kbd>Ctrl</kbd>+<kbd>Alt</kbd>+<kbd>0</kbd></td>
		<td>Zoom 100%</td>
	</tr>
	<tr><td colspan="2">&nbsp;</td></tr>
	<tr>
		<th colspan="2">Tools</th>
	</tr>
	<tr>
		<td><kbd>P</kbd></td>
		<td>Pencil</td>
	</tr>
	<tr>
		<td><kbd>B</kbd></td>
		<td>Brush</td>
	</tr>
	<tr>
		<td><kbd>L</kbd></td>
		<td>Line</td>
	</tr>
	<tr>
		<td><kbd>C</kbd></td>
		<td>Curve</td>
	</tr>
	<tr>
		<td><kbd>R</kbd></td>
		<td>Rectangle</td>
	</tr>
	<tr>
		<td><kbd>O</kbd></td>
		<td>Oval</td>
	</tr>
	<tr>
		<td><kbd>H</kbd></td>
		<td>Pan (hand)</td>
	</tr>
	<tr>
		<td><kbd>S</kbd></td>
		<td>Selection</td>
	</tr>
	<tr>
		<td><kbd>F</kbd></td>
		<td>Freeform selection</td>
	</tr>
	<tr>
		<td><kbd>E</kbd></td>
		<td>Eraser</td>
	</tr>
	<tr>
		<td><kbd>K</kbd></td>
		<td>Flood fill (paint bucket)</td>
	</tr>
	<tr>
		<td><kbd>I</kbd></td>
		<td>Eyedropper (color picker)</td>
	</tr>
	<tr>
		<td><kbd>T</kbd></td>
		<td>Text</td>
	</tr>
	<tr><td colspan="2">&nbsp;</td></tr>
	<tr>
		<th colspan="2">Drawing tool actions</th>
	</tr>
	<tr>
		<td><kbd>[</kbd></td>
		<td>Decrease line width</td>
	</tr>
	<tr>
		<td><kbd>]</kbd></td>
		<td>Increase line width</td>
	</tr>
	<tr>
		<td><kbd>X</kbd></td>
		<td>Switch line and fill colors</td>
	</tr>
	<tr><td colspan="2">&nbsp;</td></tr>
	<tr>
		<th colspan="2">Selection tool actions</th>
	</tr>
	<tr>
		<td><kbd>Ctrl</kbd>+<kbd>A</kbd></td>
		<td>Select all</td>
	</tr>
	<tr>
		<td><kbd>Esc</kbd></td>
		<td>Cancel selection/text box</td>
	</tr>
	<tr>
		<td><kbd>Delete</kbd> or <kbd>Backspace</kbd></td>
		<td>Delete selection</td>
	</tr>
	<tr>
		<td><kbd>Ctrl</kbd>+<kbd>D</kbd></td>
		<td>Duplicate selection</td>
	</tr>
	<tr>
		<td><kbd>Ctrl</kbd>+<kbd>X</kbd></td>
		<td>Cut selection</td>
	</tr>
	<tr>
		<td><kbd>Ctrl</kbd>+<kbd>C</kbd></td>
		<td>Copy selection</td>
	</tr>
	<tr>
		<td><kbd>Ctrl</kbd>+<kbd>I</kbd></td>
		<td>Invert colors</td>
	</tr>
	<tr><td colspan="2">&nbsp;</td></tr>
	<tr>
		<th colspan="2">Text tool actions</th>
	</tr>
	<tr>
		<td><kbd>Ctrl</kbd>+<kbd>B</kbd></td>
		<td>Bold text</td>
	</tr>
	<tr>
		<td><kbd>Ctrl</kbd>+<kbd>I</kbd></td>
		<td>Italicize text</td>
	</tr>
	<tr>
		<td><kbd>Ctrl</kbd>+<kbd>U</kbd></td>
		<td>Underline text</td>
	</tr>
	<tr>
		<td style="padding-right: 1em; /* Add a little extra padding on the longest line. */"><kbd>Alt</kbd>+<kbd>Shift</kbd>+<kbd>5</kbd></td>
		<td>Strike text</td>
	</tr>
	<tr>
		<td><kbd>Ctrl</kbd>+<kbd>Enter</kbd></td>
		<td>Finalize text</td>
	</tr>
	<tr><td colspan="2">&nbsp;</td></tr>
	<tr>
		<th colspan="2">App actions</th>
	</tr>
	<tr class="standaloneOnly">
		<td><kbd>Ctrl</kbd>+<kbd>F11</kbd></td>
		<td>View drawing in full screen <small style="display: inline-block;">(standalone only)</small></td>
	</tr>
	<tr>
		<td><kbd>Ctrl</kbd>+<kbd>G</kbd></td>
		<td>Show/hide gridlines</td>
	</tr>
	<tr>
		<td><kbd>F1</kbd></td>
		<td>Open help</td>
	</tr>
	<tr>
		<td>
			<kbd>?</kbd> (<kbd>Shift</kbd>+<kbd>/</kbd>)
		</td>
		<td>Open keyboard shortcut reference</td>
	</tr>
	<tr>
		<td><kbd>Ctrl</kbd>+<kbd>Alt</kbd>+<kbd>Shift</kbd>+<kbd>?</kbd></td>
		<td>Open MS Paint access key reference</td>
	</tr>
</table>
<div class="dialog-footer">
	<button type="submit">Close</button>
</div>
