<h1 role="toolbar" class="dialog-header">
	<button type="button" title="Close" class="closeButton">
		<svg role="img">
			<title>Close</title>
			<use xlink:href="images/icons/clear.svg#icon" href="images/icons/clear.svg#icon"></use>
		</svg>
	</button>
	MS Paint access keys
</h1>
<p>
	MS Paint access keys are only available when PaintZ is running in its own window as a standalone app.
</p>
<p>
	When using MS Paint access keys, continue pressing the keys until the sequence is completed.  Pressing <kbd>Esc</kbd> or a key that is not part of any sequence will cancel the sequence.
</p>
<p>
	If an access key sequence did something different in Windows 7 Paint than classic Paint, PaintZ will match classic Paint.
</p>
<table style="width: 100%;">
	<tr>
		<th colspan="2">
			<h2>Classic MS Paint</h2>
		</th>
	</tr>
	<tr>
		<th><u>F</u>ile menu</th>
		<th><kbd>Alt</kbd>+<kbd>F</kbd></th>
	</tr>
	<tr>
		<td><u>N</u>ew</td>
		<td><kbd>N</kbd></td>
	</tr>
	<tr>
		<td><u>O</u>pen...</td>
		<td><kbd>O</kbd></td>
	</tr>
	<tr>
		<td><u>S</u>ave <small>(functions as &ldquo;Save As...&rdquo;)</small></td>
		<td><kbd>S</kbd></td>
	</tr>
	<tr>
		<td>Save <u>A</u>s...</td>
		<td><kbd>A</kbd></td>
	</tr>
	<tr>
		<td>Print Pre<u>v</u>iew <small>(functions as &ldquo;Print...&rdquo;)</small></td>
		<td><kbd>V</kbd></td>
	</tr>
	<tr>
		<td><u>P</u>rint...</td>
		<td><kbd>P</kbd></td>
	</tr>
	<tr>
		<td>S<u>e</u>nd... <small>(in supported browsers)</small></td>
		<td><kbd>E</kbd></td>
	</tr>
	<tr>
		<td>E<u>x</u>it</td>
		<td><kbd>X</kbd></td>
	</tr>
	<tr><td colspan="2">&nbsp;</td></tr>
	<tr>
		<th><u>E</u>dit menu</th>
		<th><kbd>Alt</kbd>+<kbd>E</kbd></th>
	</tr>
	<tr>
		<td><u>U</u>ndo</td>
		<td><kbd>U</kbd></td>
	</tr>
	<tr>
		<td><u>R</u>epeat</td>
		<td><kbd>R</kbd></td>
	</tr>
	<tr>
		<td>Cu<u>t</u></td>
		<td><kbd>T</kbd></td>
	</tr>
	<tr>
		<td><u>C</u>opy</td>
		<td><kbd>C</kbd></td>
	</tr>
	<tr>
		<td><u>P</u>aste</td>
		<td><kbd>P</kbd></td>
	</tr>
	<tr>
		<td>C<u>l</u>ear Selection</td>
		<td><kbd>L</kbd></td>
	</tr>
	<tr>
		<td>Select <u>A</u>ll</td>
		<td><kbd>A</kbd></td>
	</tr>
	<tr>
		<td>Paste <u>F</u>rom...</td>
		<td><kbd>F</kbd></td>
	</tr>
	<tr><td colspan="2">&nbsp;</td></tr>
	<tr>
		<th><u>V</u>iew menu</th>
		<th><kbd>Alt</kbd>+<kbd>V</kbd></th>
	</tr>
	<tr>
		<td>T<u>e</u>xt Toolbar <small>(switches to text tool)</small></td>
		<td><kbd>E</kbd></td>
	</tr>
	<tr>
		<td><u>V</u>iew Bitmap</td>
		<td><kbd>V</kbd></td>
	</tr>
	<tr>
		<td><u>Z</u>oom &rarr; <u>N</u>ormal Size</td>
		<td><kbd>Z</kbd>, <kbd>N</kbd></td>
	</tr>
	<tr>
		<td><u>Z</u>oom &rarr; <u>L</u>arge Size</td>
		<td><kbd>Z</kbd>, <kbd>L</kbd></td>
	</tr>
	<tr>
		<td><u>Z</u>oom &rarr; C<u>u</u>stom...</td>
		<td><kbd>Z</kbd>, <kbd>U</kbd></td>
	</tr>
	<tr>
		<td><u>Z</u>oom &rarr; Show <u>G</u>rid</td>
		<td><kbd>Z</kbd>, <kbd>G</kbd></td>
	</tr>
	<tr><td colspan="2">&nbsp;</td></tr>
	<tr>
		<th><u>I</u>mage menu</th>
		<th><kbd>Alt</kbd>+<kbd>I</kbd></th>
	</tr>
	<tr>
		<td><u>F</u>lip/Rotate... <small>(switches to selection tool)</small></td>
		<td><kbd>F</kbd></td>
	</tr>
	<tr>
		<td><u>I</u>nvert Colors</td>
		<td><kbd>I</kbd></td>
	</tr>
	<tr>
		<td><u>A</u>ttributes...</td>
		<td><kbd>A</kbd></td>
	</tr>
	<tr>
		<td><u>C</u>lear Image</td>
		<td><kbd>C</kbd></td>
	</tr>
	<tr>
		<td><u>D</u>raw Opaque</td>
		<td><kbd>D</kbd></td>
	</tr>
	<tr><td colspan="2">&nbsp;</td></tr>
	<tr>
		<th><u>C</u>olors menu</th>
		<th><kbd>Alt</kbd>+<kbd>C</kbd></th>
	</tr>
	<tr>
		<td><u>E</u>dit Colors...</td>
		<td><kbd>E</kbd></td>
	</tr>
	<tr><td colspan="2">&nbsp;</td></tr>
	<tr>
		<th><u>H</u>elp menu</th>
		<th><kbd>Alt</kbd>+<kbd>H</kbd></th>
	</tr>
	<tr>
		<td><u>H</u>elp Topics</td>
		<td><kbd>H</kbd></td>
	</tr>
	<tr>
		<td><u>A</u>bout Paint</td>
		<td><kbd>A</kbd></td>
	</tr>
	<tr>
		<th colspan="2">
			<h2>Windows 7+ Paint</h2>
		</th>
	</tr>
	<tr>
		<th><u>F</u>ile menu</th>
		<th><kbd>Alt</kbd>+<kbd>F</kbd></th>
	</tr>
	<tr>
		<td><u>N</u>ew</td>
		<td><kbd>N</kbd></td>
	</tr>
	<tr>
		<td><u>O</u>pen</td>
		<td><kbd>O</kbd></td>
	</tr>
	<tr>
		<td><u>S</u>ave <small>(functions as &ldquo;Save as...&rdquo;)</small></td>
		<td><kbd>S</kbd></td>
	</tr>
	<tr>
		<td>Save <u>a</u>s...</td>
		<td><kbd>A</kbd></td>
	</tr>
	<tr>
		<td>Print &rarr; <u>P</u>rint</td>
		<td><kbd>R</kbd>, <kbd>P</kbd></td>
	</tr>
	<tr>
		<td>Print &rarr; Print pre<u>v</u>iew <small>(functions as &ldquo;Print&rdquo;)</small></td>
		<td><kbd>R</kbd>, <kbd>V</kbd></td>
	</tr>
	<tr>
		<td>Sen<u>d</u> in email <small>(in supported browsers)</small></td>
		<td><kbd>D</kbd></td>
	</tr>
	<tr>
		<td>Abou<u>t</u> Paint</td>
		<td><kbd>T</kbd></td>
	</tr>
	<tr>
		<td>E<u>x</u>it</td>
		<td><kbd>X</kbd></td>
	</tr>
	<tr><td colspan="2">&nbsp;</td></tr>
	<tr>
		<th><u>H</u>ome tab</th>
		<th><kbd>Alt</kbd>+<kbd>H</kbd></th>
	</tr>
	<tr>
		<td>Paste &rarr; <u>P</u>aste</td>
		<td><kbd>V</kbd>, <kbd>P</kbd></td>
	</tr>
	<tr>
		<td>Paste &rarr; Paste <u>f</u>rom</td>
		<td><kbd>V</kbd>, <kbd>F</kbd></td>
	</tr>
	<tr>
		<td>Cut</td>
		<td><kbd>X</kbd></td>
	</tr>
	<tr>
		<td>Copy</td>
		<td><kbd>C</kbd></td>
	</tr>
	<tr>
		<td>Select &rarr; <u>R</u>ectangular selection</td>
		<td><kbd>S</kbd>, <kbd>E</kbd>, <kbd>R</kbd></td>
	</tr>
	<tr>
		<td>Select &rarr; <u>F</u>ree-form selection</td>
		<td><kbd>S</kbd>, <kbd>E</kbd>, <kbd>F</kbd></td>
	</tr>
	<tr>
		<td>Select &rarr; Select <u>a</u>ll</td>
		<td><kbd>S</kbd>, <kbd>E</kbd>, <kbd>A</kbd></td>
	</tr>
	<tr>
		<td>Select &rarr; <u>D</u>elete</td>
		<td><kbd>S</kbd>, <kbd>E</kbd>, <kbd>D</kbd></td>
	</tr>
	<tr>
		<td>Select &rarr; <u>T</u>ransparent selection</td>
		<td><kbd>S</kbd>, <kbd>E</kbd>, <kbd>T</kbd></td>
	</tr>
	<tr>
		<td>Shapes <small>(switches to line tool)</small></td>
		<td><kbd>S</kbd>, <kbd>H</kbd></td>
	</tr>
	<tr>
		<td>Crop</td>
		<td><kbd>R</kbd>, <kbd>P</kbd></td>
	</tr>
	<tr>
		<td>Resize</td>
		<td><kbd>R</kbd>, <kbd>E</kbd></td>
	</tr>
	<tr>
		<td>Rotate &rarr; Rotate <u>r</u>ight 90&deg;</td>
		<td><kbd>R</kbd>, <kbd>O</kbd>, <kbd>R</kbd></td>
	</tr>
	<tr>
		<td>Rotate &rarr; Rotate <u>l</u>eft 90&deg;</td>
		<td><kbd>R</kbd>, <kbd>O</kbd>, <kbd>L</kbd></td>
	</tr>
	<tr>
		<td>Rotate &rarr; Ro<u>t</u>ate 180&deg;</td>
		<td><kbd>R</kbd>, <kbd>O</kbd>, <kbd>T</kbd></td>
	</tr>
	<tr>
		<td>Rotate &rarr; Flip <u>v</u>ertical</td>
		<td><kbd>R</kbd>, <kbd>O</kbd>, <kbd>V</kbd></td>
	</tr>
	<tr>
		<td>Rotate &rarr; Flip <u>h</u>orizontal</td>
		<td><kbd>R</kbd>, <kbd>O</kbd>, <kbd>H</kbd></td>
	</tr>
	<tr>
		<td>Pencil</td>
		<td><kbd>P</kbd></td>
	</tr>
	<tr>
		<td>Fill with color</td>
		<td><kbd>K</kbd></td>
	</tr>
	<tr>
		<td>Text</td>
		<td><kbd>T</kbd></td>
	</tr>
	<tr>
		<td>Eraser</td>
		<td><kbd>E</kbd>, <kbd>R</kbd></td>
	</tr>
	<tr>
		<td>Color picker</td>
		<td><kbd>D</kbd></td>
	</tr>
	<tr>
		<td>Brushes</td>
		<td><kbd>B</kbd></td>
	</tr>
	<tr>
		<td>Outline</td>
		<td><kbd>O</kbd></td>
	</tr>
	<tr>
		<td>Fill</td>
		<td><kbd>I</kbd></td>
	</tr>
	<tr>
		<td>Size</td>
		<td><kbd>S</kbd>, <kbd>Z</kbd></td>
	</tr>
	<tr>
		<td>Edit colors</td>
		<td><kbd>E</kbd>, <kbd>C</kbd></td>
	</tr>
	<tr><td colspan="2">&nbsp;</td></tr>
	<tr>
		<th><u>V</u>iew tab</th>
		<th><kbd>Alt</kbd>+<kbd>V</kbd></th>
	</tr>
	<tr>
		<td>Zoom in</td>
		<td><kbd>I</kbd></td>
	</tr>
	<tr>
		<td>Zoom out</td>
		<td><kbd>O</kbd></td>
	</tr>
	<tr>
		<td>100%</td>
		<td><kbd>M</kbd></td>
	</tr>
	<tr>
		<td>Gridlines</td>
		<td><kbd>G</kbd></td>
	</tr>
	<tr>
		<td>Full screen</td>
		<td><kbd>F</kbd></td>
	</tr>
	<tr><td colspan="2">&nbsp;</td></tr>
	<tr>
		<th><u>T</u>ext tab</th>
		<th><kbd>Alt</kbd>+<kbd>T</kbd></th>
	</tr>
	<tr>
		<td>Paste</td>
		<td><kbd>P</kbd></td>
	</tr>
	<tr>
		<td>Cut</td>
		<td><kbd>X</kbd></td>
	</tr>
	<tr>
		<td>Copy</td>
		<td><kbd>C</kbd></td>
	</tr>
	<tr>
		<td>Font family</td>
		<td><kbd>F</kbd>, <kbd>F</kbd></td>
	</tr>
	<tr>
		<td>Font size</td>
		<td><kbd>F</kbd>, <kbd>S</kbd></td>
	</tr>
	<tr>
		<td>Bold</td>
		<td><kbd>F</kbd>, <kbd>B</kbd></td>
	</tr>
	<tr>
		<td>Italic</td>
		<td><kbd>F</kbd>, <kbd>I</kbd></td>
	</tr>
	<tr>
		<td>Underline</td>
		<td><kbd>F</kbd>, <kbd>U</kbd></td>
	</tr>
	<tr>
		<td>Strikethrough</td>
		<td><kbd>F</kbd>, <kbd>X</kbd></td>
	</tr>
	<tr>
		<td>Opaque background</td>
		<td><kbd>O</kbd></td>
	</tr>
	<tr>
		<td>Transparent background</td>
		<td><kbd>T</kbd></td>
	</tr>
	<tr>
		<td>Edit colors</td>
		<td><kbd>E</kbd>, <kbd>C</kbd></td>
	</tr>
	<tr><td colspan="2">&nbsp;</td></tr>
	<tr>
		<th>Help button</th>
		<th><kbd>Alt</kbd>+<kbd>Y</kbd></th>
	</tr>
	<tr>
		<th colspan="2">
			<h2>Help</h2>
		</th>
	</tr>
	<tr>
		<td>Open MS Paint access key reference</td>
		<td><kbd>Ctrl</kbd>+<kbd>Alt</kbd>+<kbd>Shift</kbd>+<kbd>?</kbd></td>
	</tr>
</table>
<div class="dialog-footer">
	<button type="submit">Close</button>
</div>
