<h1 role="toolbar" class="dialog-header">
	<svg role="img" class="icon">
		<title>Patreon icon</title>
		<use xlink:href="images/icons/patreon.svg#icon" href="images/icons/patreon.svg#icon"></use>
	</svg>
	Support PaintZ
</h1>
<p>I'm glad you've gotten so much use out of PaintZ!  This app is free, and it always will be, but support for updates and maintenance is greatly appreciated.</p>
<div class="dialog-footer">
	<button type="button" class="closeButton" style="float: left;">No thanks</button><!--
	--><button type="button" class="postponeButton">Later</button><!--
	--><a role="button" href="https://patreon.com/ZMYaro" target="_blank" class="submitLink" id="patreonLink">Support PaintZ</a>
</div>
