<h1 role="toolbar" class="dialog-header">
	<svg role="img" class="icon">
		<title>Mug icon.</title>
		<use xlink:href="images/icons/cws.svg#icon" href="images/icons/cws.svg#icon"></use>
	</svg>
	Rate PaintZ
</h1>
<p>I am glad PaintZ has been useful to you!  Would you consider leaving a rating on the Chrome Web Store?</p>
<div class="dialog-footer">
	<button type="button" class="closeButton" style="float: left;">No thanks</button><!--
	--><button type="button" class="postponeButton">Later</button><!--
	--><a role="button" href="https://chrome.google.com/webstore/detail/gdjcnhanmagpjdpilaehedkchegnkdoj/reviews" target="_blank" class="submitLink" id="cwsLink">Sure</a>
</div>
