<h1 role="toolbar" class="dialog-header">
	<button type="button" title="Close" class="closeButton">
		<svg role="img">
			<title>Close</title>
			<use xlink:href="images/icons/clear.svg#icon" href="images/icons/clear.svg#icon"></use>
		</svg>
	</button>
	Save as
</h1>
<input name="fileName" type="text" placeholder="File name" value="untitled.png" style="margin: 0 8px; width: 96%; width: calc(100% - 16px);" />
<br />
<select name="fileType">
	<option value="image/jpeg">JPEG (Joint Photographic Experts Group)</option>
	<option value="image/png" selected="selected">PNG (Portable Network Graphics)</option>
</select>
<div class="dialog-footer">
	<button type="button" class="closeButton">Cancel</button><!--
	--><button type="button" id="shareButton">Share</button><!--
	--><a role="button" class="submitLink" id="downloadLink" type="image/png" download="untitled.png" target="_blank">Save</a><!--
	--><progress class="circular small" style="margin-right: 12px;"></progress>
</div>
