<button id="fullScreenBtn" title="Full screen">
	<svg role="img">
		<use href="images/icons/full_screen.svg#icon"></use>
	</svg>
</button>
<button id="aboutBtn" title="About">
	<svg role="img">
		<use href="images/icons/info.svg#icon"></use>
	</svg>
</button><!--
--><br /><!--
--><button id="settingsBtn" title="Settings">
	<svg role="img">
		<use href="images/icons/settings.svg#icon"></use>
	</svg>
</button>
<button id="helpBtn" title="Help">
	<svg role="img">
		<use href="images/icons/help.svg#icon"></use>
	</svg>
</button>
