<button title="Black" aria-label="Black" data-value="#000000"></button><!--
--><button title="Brown" aria-label="Brown" data-value="#795548"></button><!--
--><button title="Red" aria-label="Red" data-value="#f44336"></button><!--
--><button title="Orange" aria-label="Orange" data-value="#ff9800"></button><!--
--><button title="Yellow" aria-label="Yellow" data-value="#ffeb3b"></button><!--
--><button title="Lime" aria-label="Lime" data-value="#76ff03"></button><!--
--><br /><!--
--><button title="White" aria-label="White" data-value="#ffffff"></button><!--
--><button title="Gray" aria-label="Gray" data-value="#9e9e9e"></button><!--
--><button title="Green" aria-label="Green" data-value="#4caf50"></button><!--
--><button title="Light blue" aria-label="Light blue" data-value="#80d8ff"></button><!--
--><button title="Blue" aria-label="Blue" data-value="#2962ff"></button><!--
--><button title="Purple" aria-label="Purple" data-value="#9c27b0"></button>
