<button title="Black" aria-label="Black" data-value="#000000"></button>
<button title="Red" aria-label="Red" data-value="#F44336"></button>
<button title="Orange" aria-label="Orange" data-value="#FF9800"></button>
<button title="Yellow" aria-label="Yellow" data-value="#FFEB3B"></button>
<button title="Lime" aria-label="Lime" data-value="#76FF03"></button>
<br />
<button title="White" aria-label="White" data-value="#FFFFFF"></button>
<button title="Green" aria-label="Green" data-value="#4CAF50"></button>
<button title="Light blue" aria-label="Light blue" data-value="#80D8FF"></button>
<button title="Blue" aria-label="Blue" data-value="#2962FF"></button>
<button title="Purple" aria-label="Purple" data-value="#9C27B0"></button>
