<button id="deselectBtn" title="Cancel selection (Esc)">
	<svg role="img">
		<use xlink:href="images/icons/clear.svg#icon" href="images/icons/clear.svg#icon"></use>
	</svg>
</button><!--
--><button id="deleteBtn" title="Erase (Del)">
	<svg role="img">
		<use xlink:href="images/icons/eraser.svg#icon" href="images/icons/eraser.svg#icon"></use>
	</svg>
</button><!--
--><button id="cutBtn" title="Cut (Ctrl+X)">
	<svg role="img">
		<use xlink:href="images/icons/cut.svg#icon" href="images/icons/cut.svg#icon"></use>
	</svg>
</button><!--
--><button id="copyBtn" title="Copy (Ctrl+C)">
	<svg role="img">
		<use xlink:href="images/icons/copy.svg#icon" href="images/icons/copy.svg#icon"></use>
	</svg>
</button><!--
--><button id="duplicateBtn" title="Duplicate (Ctrl+D)">
	<svg role="img">
		<use xlink:href="images/icons/duplicate.svg#icon" href="images/icons/duplicate.svg#icon"></use>
	</svg>
</button><!--
--><button id="cropBtn" title="Crop">
	<svg role="img">
		<use xlink:href="images/icons/crop.svg#icon" href="images/icons/crop.svg#icon"></use>
	</svg>
</button>
