<button id="clearBtn" title="Clear">
	<svg role="img">
		<use xlink:href="images/icons/clear.svg#icon" href="images/icons/clear.svg#icon"></use>
	</svg>
</button>
<button id="openBtn" title="Open image... (Ctrl+O)">
	<svg role="img">
		<use xlink:href="images/icons/open.svg#icon" href="images/icons/open.svg#icon"></use>
	</svg>
</button>
<input type="file" accept="image/*" id="upload" style="display: none;" />
<button id="saveBtn" title="Save as... (Ctrl+S)">
	<svg role="img">
		<use xlink:href="images/icons/save.svg#icon" href="images/icons/save.svg#icon"></use>
	</svg>
</button><!--
--><br /><!--
--><button id="undoBtn" title="Undo (Ctrl+Z)" disabled="disabled">
	<svg role="img">
		<use xlink:href="images/icons/undo.svg#icon" href="images/icons/undo.svg#icon"></use>
	</svg>
</button>
<button id="redoBtn" title="Redo (Ctrl+Y)" disabled="disabled">
	<svg role="img">
		<use xlink:href="images/icons/redo.svg#icon" href="images/icons/redo.svg#icon"></use>
	</svg>
</button>
<button id="resizeBtn" title="Crop or scale...">
	<svg role="img">
		<use xlink:href="images/icons/resize.svg#icon" href="images/icons/resize.svg#icon"></use>
	</svg>
</button>
