<button id="selectAllBtn" title="Select all (Ctrl+A)">
	<svg role="img">
		<use xlink:href="images/icons/select_all.svg#icon"></use>
	</svg>
</button><!--
--><br /><!--
--><button id="flipHorizBtn" title="Flip horizontal">
	<svg role="img">
		<use xlink:href="images/icons/flip.svg#icon"></use>
	</svg>
</button>
<button id="flipVertBtn" title="Flip vertical">
	<svg role="img" style="-webkit-transform: rotateZ(90deg); -moz-transform: rotateZ(90deg); -ms-transform: rotateZ(90deg); -o-transform: rotateZ(90deg); transform: rotateZ(90deg);">
		<use xlink:href="images/icons/flip.svg#icon"></use>
	</svg>
</button>
