<button id="rotCCWBtn" title="Rotate counterclockwise 90&deg;">
	<svg role="img">
		<use xlink:href="images/icons/rotate.svg#icon" href="images/icons/rotate.svg#icon"></use>
	</svg>
</button><!--
--><button id="rotCWBtn" title="Rotate clockwise 90&deg;">
	<svg role="img" style="-webkit-transform: scaleX(-1); -moz-transform: scaleX(-1); -ms-transform: scaleX(-1); -o-transform: scaleX(-1); transform: scaleX(-1);">
		<use xlink:href="images/icons/rotate.svg#icon" href="images/icons/rotate.svg#icon"></use>
	</svg>
</button><!--
--><input type="radio" name="transparentSelecton" id="transparentSelectionOn" /><!--
--><label role="button" for="transparentSelectionOn" title="Transparent selection"><!--
	--><svg role="img">
		<use xlink:href="images/icons/selection_transparent.svg#icon" href="images/icons/selection_transparent.svg#icon"></use>
	</svg><!--
--></label><!--
--><input type="radio" name="transparentSelecton" id="transparentSelectionOff" /><!--
--><label role="button" for="transparentSelectionOff" title="Opaque selection"><!--
	--><svg role="img">
		<use xlink:href="images/icons/selection_opaque.svg#icon" href="images/icons/selection_opaque.svg#icon"></use>
	</svg><!--
--></label><!--
--><br /><!--
--><button id="flipHorizBtn" title="Flip horizontal">
	<svg role="img">
		<use xlink:href="images/icons/flip.svg#icon" href="images/icons/flip.svg#icon"></use>
	</svg>
</button><!--
--><button id="flipVertBtn" title="Flip vertical">
	<svg role="img" style="-webkit-transform: rotateZ(90deg); -moz-transform: rotateZ(90deg); -ms-transform: rotateZ(90deg); -o-transform: rotateZ(90deg); transform: rotateZ(90deg);">
		<use xlink:href="images/icons/flip.svg#icon" href="images/icons/flip.svg#icon"></use>
	</svg>
</button><!--
--><button id="invertColorsBtn" title="Invert colors (Ctrl+I)">
	<svg role="img">
		<use xlink:href="images/icons/invert_colors.svg#icon" href="images/icons/invert_colors.svg#icon"></use>
	</svg>
</button><!--
--><button id="selectAllBtn" title="Select all (Ctrl+A)">
	<svg role="img">
		<use xlink:href="images/icons/select_all.svg#icon" href="images/icons/select_all.svg#icon"></use>
	</svg>
</button><!--
--><button id="pasteBtn" title="Paste (Ctrl+V)">
	<svg role="img">
		<use xlink:href="images/icons/paste.svg#icon" href="images/icons/paste.svg#icon"></use>
	</svg>
</button>
