<select title="Font family" id="fontFamilySelect">
	<option value="sans-serif" style="font-family: sans-serif;">Sans-serif</option>
	<option value="serif" style="font-family: serif;">Serif</option>
	<option value="monospace" style="font-family: monospace;">Monospace</option>
</select>
<svg role="img" class="icon">
	<use xlink:href="images/icons/font_family.svg#icon" href="images/icons/font_family.svg#icon"></use>
</svg><!--
--><br /><!--
--><select title="Font size" id="fontSizeSelect" style="margin-right: 0;">
	<option value="8">8</option>
	<option value="9">9</option>
	<option value="10">10</option>
	<option value="11">11</option>
	<option value="12">12</option>
	<option value="14">14</option>
	<option value="16">16</option>
	<option value="18">18</option>
	<option value="20">20</option>
	<option value="22">22</option>
	<option value="24">24</option>
	<option value="26">26</option>
	<option value="28">28</option>
	<option value="32">32</option>
	<option value="36">36</option>
	<option value="48">48</option>
	<option value="72">72</option>
	<option value="96">96</option>
</select>
<svg role="img" class="icon">
	<use xlink:href="images/icons/font_size.svg#icon" href="images/icons/font_size.svg#icon"></use>
</svg><!--
--><input type="checkbox" name="boldToggle" id="boldToggle" /><!--
--><label role="button" for="boldToggle" title="Bold (Ctrl+B)">
	<svg role="img">
		<use xlink:href="images/icons/bold.svg#icon" href="images/icons/bold.svg#icon"></use>
	</svg>
</label><!--
--><input type="checkbox" name="italicToggle" id="italicToggle" /><!--
--><label role="button" for="italicToggle" title="Italic (Ctrl+I)">
	<svg role="img">
		<use xlink:href="images/icons/italic.svg#icon" href="images/icons/italic.svg#icon"></use>
	</svg>
</label><!--
--><input type="checkbox" name="underlineToggle" id="underlineToggle" /><!--
--><label role="button" for="underlineToggle" title="Underline (Ctrl+U)">
	<svg role="img">
		<use xlink:href="images/icons/underline.svg#icon" href="images/icons/underline.svg#icon"></use>
	</svg>
</label><!--
--><input type="checkbox" name="strikeToggle" id="strikeToggle" /><!--
--><label role="button" for="strikeToggle" title="Strikethrough (Alt+Shift+5)">
	<svg role="img">
		<use xlink:href="images/icons/strike.svg#icon" href="images/icons/strike.svg#icon"></use>
	</svg>
</label>
