@charset "UTF-8";

#lineWidth {
	vertical-align: top;
}
	#lineWidth:hover,
	#lineWidth:focus {
		background-color: rgba(255,255,255,0.07);
	}
	#lineWidth:active,
	#lineWidth.active {
		background-color: rgba(255,255,255,0.13);
	}

#toolbar #colors {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	display: inline-block;
	width: 48px;
	height: 48px;
	margin: 32px 0;
	margin-left: 4px;
	border: 8px solid;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
}

#colorPicker button {
	position: relative;
	color: transparent;
}
	#colorPicker button::before {
		content: '';
		position: absolute;
		left: 12px;
		top: 12px;
		right: 12px;
		bottom: 12px;
		-webkit-border-radius: 50%;
		   -moz-border-radius: 50%;
		        border-radius: 50%;
	}
	#colorPicker button[data-value="#000000"]::before {
		background-color: black;
	}
	#colorPicker button[data-value="#FFFFFF"]::before {
		background-color: white;
	}
	#colorPicker button[data-value="#F44336"]::before {
		/* Red */
		background-color: #F44336;
	}
	#colorPicker button[data-value="#FF9800"]::before {
		/* Orange */
		background-color: #FF9800;
	}
	#colorPicker button[data-value="#FFEB3B"]::before {
		/* Yellow */
		background-color: #FFEB3B;
	}
		#colorPicker button[data-value="#FFEB3B"].pacman::after {
			content: '';
			position: absolute;
			left: 11px;
			top: 11px;
			right: 11px;
			bottom: 11px;
			-webkit-border-radius: 50%;
			   -moz-border-radius: 50%;
			        border-radius: 50%;
			border-style: solid;
			border-width: 17px;
			border-color: transparent;
			border-right-color: #3f51b5;
		}
	#colorPicker button[data-value="#76FF03"]::before {
		/* Lime */
		background-color: #76FF03;
	}
	#colorPicker button[data-value="#4CAF50"]::before {
		/* Green */
		background-color: #4CAF50;
	}
	#colorPicker button[data-value="#80D8FF"]::before {
		/* Light blue */
		background-color: #80D8FF;
	}
	#colorPicker button[data-value="#2962FF"]::before {
		/* Blue */
		background-color: #2962FF;
	}
	#colorPicker button[data-value="#9C27B0"]::before {
		/* Purple */
		background-color: #9C27B0;
	}

#colorPickerDialog input {
	margin-top: 8px;
	margin-bottom: -4px;
	padding-bottom: 3px;
}
	#colorPickerDialog input[type="number"] {
		width: 48px;
	}
	#colorPickerDialog input:focus {
		padding-bottom: 2px;
	}
#lineColorSample,
#fillColorSample {
	width: 56px;
	height: 56px;
	margin: 0 8px;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
}
.picker {
	position: relative;
	display: inline-block;
	width: 256px;
	height: 256px;
	
	cursor: crosshair;
}
.picker-indicator {
	position: absolute;
	width: 5px;
	height: 5px;
	
	-webkit-transform: translate(-2px,-2px);
	   -moz-transform: translate(-2px,-2px);
	    -ms-transform: translate(-2px,-2px);
	     -o-transform: translate(-2px,-2px);
	        transform: translate(-2px,-2px);
	
	background-color: rgba(255,255,255,0.6);
	border: 1px solid rgba(0,0,0,0.6);
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	
	-webkit-user-select: none;
	   -moz-user-select: none;
	        user-select: none;
	
	pointer-events: none;
}
.slide {
	position: relative;
	display: inline-block;
	width: 32px;
	height: 256px;
	
	cursor: n-resize;
	cursor: ns-resize;
	cursor: row-resize;
}
.slide-indicator {
	position: absolute;
	width: 100%;
	height: 3px;
	
	-webkit-transform: translate(0,-1px);
	   -moz-transform: translate(0,-1px);
	    -ms-transform: translate(0,-1px);
	     -o-transform: translate(0,-1px);
	        transform: translate(0,-1px);
	
	background-color: rgba(255,255,255,0.6);
	border: 1px solid rgba(0,0,0,0.6);
	
	-webkit-user-select: none;
	   -moz-user-select: none;
	        user-select: none;
	
	pointer-events: none;
}
